config CROSS_COMPILER
	string "Cross compiler prefix"
	default "arm-none-eabi-"

choice
	prompt "Processor core type"

	config ARM_STM32VLDISCOVERY
	bool "ARM STM32F100rb based kit"

	config ARM_STM32F4DISCOVERY
	bool "ARM STM32F407 based kit"
endchoice

if ARM_STM32VLDISCOVERY
source "arch/arm/stm32vldiscovery/Kconfig"
endif

if ARM_STM32F4DISCOVERY
source "arch/arm/stm32f4discovery/Kconfig"
endif
